html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

button{
    border: none;
    background: #2c2b2b;
    width: 250px;
    /* border: 2px solid rgb(38, 3, 192); */
    /* border-radius: 20px; */
    padding: 10px 0px;
    font-weight: 600;
    color: #eee;
    letter-spacing: 0.1rem;
    font-size: 15px;
    transition: all 0.3s;
}

button:hover{
    cursor: pointer;
    border: 2px solid rgb(223, 22, 72) !important;
    background: rgb(226, 20, 82);
    color: rgb(243, 236, 238);
}


a{
    text-decoration: none;
}



.active,  .header .header-body .nav-items a:hover{
    color: rgb(216, 10, 61) !important;
    font-weight: 500;
    
}

.header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    margin-bottom: 20px;
    background: rgb(255, 255, 255);
    /* box-shadow: 0px 0px 7px 0px #060708; */
}

.header .header-body{
    height: 80px;
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.header .header-body .logo{
    width: 50px;
    height: 50px;
    background-color: #eef;
    background-image: linear-gradient(to right, rgb(247, 95, 95) , rgb(108, 0, 196));
    border-radius: 50%;
}

.header .header-body .logo p{
    position: absolute;
    font-weight: 800;
    font-size: 22px;
    top: 3px;
    margin-left: 17px;
    color: #eee;
}

.header .header-body .nav-items{
    width: 38%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-body .nav-items a{
    color: rgb(31, 31, 32);
    font-size: 15px;
    letter-spacing: 0.05rem;
    transition: 600ms ease-in-out;
    cursor: pointer;
}

.header .header-body .nav-items  button{
    width: 120px;
}

.header .header-body .nav-items  button a{
    color: #eee;
    font-weight: 500;
    font-size: 13px;
}

.header .hr{
    width: 90%;
}

.header .hr hr{
    width: 100%;
    margin-left: 4%;
    border: none;
    background: #222;
    height: 1px;
}


/* --------------------Sidebar------------------------ */

.sidebar-left{
    position: fixed;
    bottom: 0;
    left: 4%;
    right: auto;
    color: rgb(26, 24, 24);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sidebar-left a i{
    color: rgb(16, 26, 23);
    margin-bottom: 20px;
}

.sidebar-left .line{
    height: 120px;
    width: 1.5px;
    border: none;
    background-color: rgb(26, 22, 23);
}





/* -----------------------Banner---------------------- */

.banner{
    width: 100%;
    position: relative;
    
}

.banner .bottom-gradient{
    position: absolute;
    bottom: -105px;
    left: 20%;
}

.banner .act-now{
    position: absolute;
    margin: 0px;
    top: 4%;
    left: 13%;
}

.banner .act-now p{
    font-weight: 800;
    font-size: 70px;
    margin: 0px;
    color: rgb(241, 240, 247);
    /* transform: rotate(270deg); */

}

.banner .banner-main{
    position: relative;
    width: 75%;
    margin: auto;
}

.banner .banner-main .banner-body{
    position: relative;
    width: 100%;
    display: flex;
    /* align-items: center; */
    margin: auto;
    justify-content: space-evenly;
}

.banner .banner-main .banner-light{
    position: absolute;
    color: rgba(0, 0, 0, 0.3);
    left: 2%;
    bottom: -13%;
    margin-bottom: 0px;
}

.banner .banner-body .banner-right{
    width: 40%;
}

.banner .banner-body .banner-right img{
    align-self: flex-end;
    width: 95%;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
}



.bounce-2 {
    animation-name: bounce-2;
    animation-timing-function: ease;
}
@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-30px); }
    100% { transform: translateY(0); }
}


.banner .banner-body .banner-left{
    width: 60%;
}

.banner .banner-body .banner-left h1{
    font-size: 90px;
    margin-bottom: 0px;
    /* color: rgb(37, 37, 37); */
    background: linear-gradient(to right, #f35757 0%,#ec347b 50%, #7e0bdb 75%,  #8406eb 100%);
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
}

.banner .banner-body .banner-left h2{
    margin-top: 0px;
    line-height: 2.7rem;
    color: rgb(56, 56, 56);
    font-size: 35px;
}

.banner .banner-body .banner-left p{
    margin-top: 0px;
    width: 85%;
    color: rgb(54, 53, 53);
    font-size: 14.5px;
    line-height: 1.5rem;
}

.banner .banner-body .banner-left p span{
    font-weight: 600;
}


.banner .banner-body .banner-left .bannner-button{
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-between;
}



.banner .banner-body .banner-left button{
    width: 210px;
    margin-top: 25px;
    padding: 10px 0px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-size: 14px;
    text-transform: uppercase;
}

.banner .banner-body .banner-left .bannner-button .sponsor-us{
    margin-top: 20px;
    margin-left: 40px;
    color: rgb(54, 53, 53);
}

.banner .banner-body .banner-left .bannner-button .sponsor-us:hover{
    cursor: pointer;
}


.banner  .banner-body .banner-left .sponsors{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}


.banner  .banner-body .banner-left .sponsors img{
    margin-right: 20px;
}

.banner  .banner-body .banner-left .sponsors .github{
    width: 80px;
}

.banner  .banner-body .banner-left .sponsors .stickermule{
    width: 100px;
}

.banner  .banner-body .banner-left .sponsors p{
    font-weight: 800;
    color: #464747;
    font-size: 14px;
    margin-top: 15px;
}


/* --------------------------------------IMPACT----------------------- */
.impact{
    width: 100%;
    margin-top: 100px;
    background: #eee;
    padding: 100px 0;
}

.impact .impact-main{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.impact .impact-main .impact-left{
    width: 47%;
}

.impact .impact-main .impact-left h1{
    font-size: 50px;
    margin-bottom: 0px;
    color: rgb(44, 43, 43);
}

.impact .impact-main .impact-left h2{
    margin: 0px;
    color: rgb(44, 43, 43);
}

.impact .impact-main .impact-left p{
    margin-bottom: 40px;
}

.impact .impact-main .impact-left img{
    width: 100%;
}

.impact .impact-main .impact-right{
    width: 47%;
}

.impact .impact-main .impact-right img{
    width: 100%;
}

.impact .impact-main .impact-right button{
    margin-top: 10px;
}




