.impact{
    width: 100%;
    margin-top: 100px;
    background: #eee;
    padding: 100px 0;
    font-family: 'Poppins', sans-serif;
}

.impact .act-now{
    position: absolute;
    margin: 15px;
    left: 10%;
    margin-top: -50px;
}

.impact .act-now p{
    font-weight: 800;
    font-size: 63px;
    margin: 0px;
    color: rgb(226, 224, 224);
    /* transform: rotate(270deg); */

}

.impact .impact-main{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.impact .impact-main .impact-left{
    width: 47%;
}

.impact .impact-main .impact-left h1{
    font-size: 50px;
    margin-top: 35px;
    margin-bottom: 10px;
    color: rgb(44, 43, 43);
}

.impact .impact-main .impact-left h2{
    margin: 10px 0;
    color: rgb(44, 43, 43);
}

.impact .impact-main .impact-left p{
    margin-bottom: 40px;
}

.impact .impact-main .impact-left img{
    width: 100%;
}

.impact .impact-main .impact-right{
    width: 47%;
}

.impact .impact-main .impact-right img{
    width: 100%;
    margin-bottom: 20px;
}

.impact .impact-main .impact-right button{
    margin-top: 10px;
}